<!DOCTYPE html>
<html lang="en">
    <div class="grid-container">
        <header class= "header">
            <div class= "brand">
              <button oneclick="openMenu()">&#9776;</button>
                <a href="index.html">Orange Zebra</a>
            </div>
            <div class= "header-links">
                <a href="cart.html">Cart</a> 
                <a href="signin.html">Sign In</a> 
            </div>
        </header>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Orange Zebra</title>
</head>
<body>
  <Div> 
    <aside>
      Shopping Categories
    </aside>
    <main>
      <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 5</li>
      </ul>
    </main>
    <Footer>
      &copy; 2023 Orange Zebra
    </Footer>
  </Div>
</body>
</html>
