<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Orange Zebra</title>
</head>
<body>
  <Div>
    <header>
      Orange Zebra
    </header>
    <aside>
      Shopping Categories
    </aside>
    <main>
      <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 5</li>
      </ul>
    </main>
    <Footer>
      &copy; 2023 Orange Zebra
    </Footer>
  </Div>
</body>
</html>
